.popup-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 450px;
  margin-bottom: 200px;
  gap: 90px;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: -5px 5px 10px 1px rgba(black, 0.15);
  background-color: rgba(white, 0.8);

  &.colorful {
    background-image: url("../../assets/images/color-splash.png");
    background-size: cover;
  }

  h1 {
    font-size: 2em;
    margin-top: 15px;
    align-self: center;
  }

  .action-button {
    margin-top: 115px;
    padding: 20px;
    font-size: 1.6em;
  }
}
