.action-button {
  padding: 20px;
  font-weight: bold;
  border: unset;
  border-radius: 10px;
  box-shadow: -5px 5px 10px 1px rgba(black, 0.15);
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.8em;
  }

  &:hover {
    opacity: 0.7;
  }

  &.colorful {
    p {
      background-image: linear-gradient(
        to right,
        rgba(red, 0.9),
        rgba(orange, 0.9),
        rgba(gold, 0.9),
        rgba(green, 0.9),
        rgba(blue, 0.9),
        rgba(indigo, 0.9),
        rgba(violet, 0.9)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    padding: 18px;

    p {
      font-size: 1.4em;
    }
  }

  @media (max-width: 480px) {
    padding: 17px;

    p {
      font-size: 1.2em;
    }
  }
}
