body,
html,
#master {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 176, 176);
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
