.level-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  user-select: none;
  margin: 0;

  @media (max-width: 1280px) {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}

.game-quest {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  user-select: none;
  margin: 0;

  @media (max-width: 1280px) {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

.color-text {
  user-select: none;
  &:not(:last-child)::after {
    content: ", ";
    color: black;
  }
}
